@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    ViewData["background"] = "/img/4kpic4.jpg";
}

<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>

<div class="center" style="position: fixed;">
    <div class="sky-container">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
</div>
<div class="container" style="opacity: 0.9;padding-top:15%;">
    <div class="row">
        <div class="col text-center">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-4 text-center">
            <h3>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </h3>
        </div>
        <div class="col"></div>
    </div>
    <br />
    <div class="row" style="opacity: 0.8;">
        <div class="col text-center">
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index"><span class="iconify d-none d-sm-inline-block" data-icon="ant-design:home-filled" data-inline="true"></span> Go To Home Page</a>
        </div>
    </div>
</div>

