@page "/demouserwarning"


<br />
<br />
<br />
<br />
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card shadow-lg mb-5 bg-white rounded">
            <div class="card-header bg-danger">
                <h3 class="card-title">Demo User Warning</h3>
            </div>
            <div class="card-body">
                <p>You are seeing this page because your role is a demo user, you can't delete anything effect the database of my system.</p>
                <p>My Bug Tracker has Authorization, Authendication, Securities, Create, Adjust Project and Ticket, Assign role to user, Assign ticket to user, Change Ticket's Priority, Status, or Type, Comment on Ticket, Attach file to Ticket and Project, Notification Alert through Email, Message system, and Overview the work of company. It also has a financial, HR, and payroll system.</p>
                <p>As you can see, this is an great example of a real life application with a lot of business logic.</p>
                <p>If you want to see it fully functions, set me up an appointment through the contact page on the top navigation bar, or through my <a href="https://duylanle-portfolio.netlify.app/" target="_blank">Portfolio Website</a>.</p>
                <hr />
                <div class="row">
                    <div class="col text-right">
                        <a class="btn btn-primary" href="https://duylanle-portfolio.netlify.app/" target="_blank"><span class="iconify" data-icon="dashicons:open-folder" data-inline="true"></span> My Portfolio</a>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-info" href="https://www.linkedin.com/in/duy-lan-le-445262163/" target="_blank"><span class="iconify" data-icon="akar-icons:linkedin-fill" data-inline="true"></span> My Linkedin</a>
                    </div>
                    <div class="col text-left">
                        <a class="btn btn-dark" href="https://github.com/arthastheking113" target="_blank"><span class="iconify" data-icon="akar-icons:github-fill" data-inline="true"></span> My Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
