@page "/manage/accountant/transactions"
@using BlazorBugTracker.Data
@inject ApplicationDbContext _context
<div class="container-fluid pl-0 pr-0">
    <div class="row">
        <div class="col p-0">
            <div class="card card-dark">
                <div class="card-header pr-0">
                    <h3 class="card-title">Transactions</h3>
                </div>
                <div class="row">
                    <div class="col ml-2 mr-2">
                        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true"
                                        FilterMode="FilterMode.Simple" PageSize="10" AllowPaging="true" AllowSorting="true" Data="@ItemList" TItem="Models.Transaction" ColumnWidth="100%"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                            <Columns>
                                <RadzenDataGridColumn TItem="Models.Transaction" Property="Time" />
                                <RadzenDataGridColumn TItem="Models.Transaction" Property="CustomUser" Context="data" Title="User">
                                    <Template Context="data">
                                        @if (userList.FirstOrDefault(c => c.Id == data.CustomUserId) is not null)
                                        {
                                            <p>@userList.FirstOrDefault(c => c.Id == data.CustomUserId).FullName</p>
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Models.Transaction" Property="UserID" Title="UserID" />
                                <RadzenDataGridColumn TItem="Models.Transaction" Property="Amount" Title="Amount" />
                                <RadzenDataGridColumn TItem="Models.Transaction" Property="Reason" Title="Reason" />
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    public List<Models.Transaction> ItemList = new();
    public List<Models.CustomUser> userList = new();

    protected override void OnInitialized()
    {
        GetData();
    }

    public void GetData()
    {
        ItemList = _context.Transaction.OrderByDescending(c => c.Time).ToList();
        userList = _context.Users.ToList();
    }
}
