@page "/manage/project/user"

@using BlazorBugTracker.Data
@using BlazorBugTracker.Services
@using Microsoft.AspNetCore.Identity
@inject ApplicationDbContext _context
@inject UserManager<CustomUser> _userManager
@inject ICustomRoleService _roleService
@inject ICustomProjectService _projectService
<div class="container-fluid" >
    <div class="shadow-lg mb-5 bg-white rounded">
        <div class="row">
            <div class="col pl-0 pr-0">
                <div class="card mb-0">
                    <div class="card-header bg-dark">
                        <h3 class="card-title">Manager User Project</h3>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Projects" asp-action="ManagerUserProject" method="post">
                            <div class="row">
                                <div class="col-md p-3">
                                    <div class="row">
                                        <div class="col">
                                            Project
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <RadzenListBox AllowFiltering="true" AllowClear="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value=@ProjectSelected Data=@ProjectList TextProperty="Name" ValueProperty="Id"
                                                               TValue="int" Placeholder="Select Project..." Style="height:600px;width:100%" />
                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="col-md  p-3">
                                    <div class="row">
                                        <div class="col">
                                            Project Manager
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <RadzenListBox AllowFiltering="true" AllowClear="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value=@ProjectManagerSelected Data=@ProjectManagerList TextProperty="FullName" ValueProperty="Id"
                                                               TValue="string" Placeholder="Select Project Manager..." Style="height:600px;width:100%" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md p-3">
                                    <div class="row">
                                        <div class="col">
                                            Developers
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card card-default">
                                                <div class="card-body" style="padding:0;">
                                                    <div class="row">
                                                        <div class="col-12">
                                                           

                                                                <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" TValue="IEnumerable<string>" Multiple="true" Data=@DeveloperList
                                                                               Change=@(args => OnChangeSelectDeveloper(args)) Placeholder="Select Developer..." TextProperty="FullName" ValueProperty="Id" Style="height:600px;width:100%" />

                                                          
                                                            <!-- /.form-group -->
                                                        </div>
                                                        <!-- /.col -->
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md p-3">
                                    <div class="row">
                                        <div class="col">
                                            Submitters
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card card-default">
                                                <div class="card-body" style="padding:0;">
                                                    <div class="row">
                                                        <div class="col-12">
                                                         

                                                                <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" TValue="IEnumerable<string>" Multiple="true" Data=@SubmitterList
                                                                               Change=@(args => OnChangeSelectSubmitter(args)) Placeholder="Select Submitter..." TextProperty="FullName" ValueProperty="Id" Style="height:600px;width:100%" />

                                                           
                                                            <!-- /.form-group -->
                                                        </div>
                                                        <!-- /.col -->
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-center">
                                    <input type="submit" class="btn btn-secondary" value="         Save         " />
                                    <a asp-controller="Projects" asp-action="ManagerUserProject" class="btn text-white btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@code {
    public List<Models.CustomUser> DeveloperList = new();
    public List<Models.CustomUser> SubmitterList= new();
    public List<Models.CustomUser> ProjectManagerList = new();
    public List<Models.Project> ProjectList = new();
    public List<IdentityRole> RoleList = new();
    public List<string> DeveloperSelected = new();
    public List<string> SubmitterSelected = new();
    public int ProjectSelected;
    public string ProjectManagerSelected;

    protected override void OnInitialized()
    {
        GetData();
    }

    public void GetData()
    {
        DeveloperList = new();
        SubmitterList = new();

        ProjectList = _context.Project.ToList();
        RoleList = _context.Roles.ToList();
        foreach (var item in ProjectList)
        {
            DeveloperList.Union(_projectService.DeveloperOnProject(item.Id).ToList());
            SubmitterList.Union(_projectService.SubmitterOnProject(item.Id).ToList());
            ProjectManagerList.Add(_projectService.ProjectManagerOnProject(item.Id));
        }
        ProjectManagerList = ProjectManagerList.Distinct().ToList();

    }

    public void OnChangeSelectDeveloper(object value)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        if (str is not null)
        {
            var users = str.ToString().Split(",").ToList();
            DeveloperSelected = users;
        }
    }

    public void OnChangeSelectSubmitter(object value)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        if (str is not null)
        {
            var users = str.ToString().Split(",").ToList();
            SubmitterSelected = users;
        }
    }


}
