<div class="row">
    <div class="col">
        <a class="btn btn-outline-info btn-block" href="/manage/accountant/overview">
            <span class="iconify" data-icon="whh:statistics" data-inline="true"></span> 
            Overview
        </a>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <a class="btn btn-outline-primary btn-block" href="/manage/accountant/transactions">
            <span class="iconify" data-icon="vaadin:money-exchange" data-inline="true"></span> 
            Transactions
        </a>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <a class="btn btn-outline-warning btn-block" href="/manage/accountant/payrolls">
            <span class="iconify" data-icon="vaadin:money-exchange" data-inline="true"></span> 
            Payrolls
        </a>
    </div>
</div>

@code {

}
